--- 
layout: default
title: Aurinkokunta cooperative
---

{% assign sorted_people = site.posts | sort:"name" %}

{% for person in sorted_people %}
  <div class="person">
    {% if person.link %}
      <h3 class="member-name"><a class="member-link" href="{{person.link}}">{{ person.name }}</a></h3>
    {% else %}
      <h3 class="member-name">{{ person.name }}</h3>
    {% endif %}
    <div class="short-description">{{ person.short }}</div>
    {% if person.email %}
      <div class="electronic-mail"><a href="mailto:{{ person.email }}?subject=aurinkokunta.fi">{{ person.email }}</a></div>
    {% endif %}
    <!-- <div>{{ person.content }}</div> -->
  </div>
{% endfor %}
