<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <style>
      body {
        font-family: 'EB Garamond', Georgia, serif;
        font-size: 110%;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: blue;
      }
      header {
        margin: 3em 0;
      }
      .person h3 {
        margin-bottom: 0;
      }
      footer {
        margin: 4em 0 1em 0;
      }
    </style>

    <title>Aurinkokunta cooperative</title>
  </head>

  <body>
    <header>
      <h1>Aurinkokunta.fi</h1>
      <h2>Aurinkokunta cooperative, Helsinki, Finland</h2>
    </header>

    {{ content }}

    <footer>
      Aurinkokunta.fi, founded in 2013
    </footer>
  </body>
</html>