<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Aurinkokunta cooperative</title>
  </head>

  <body>
    <header>
      <h1>Aurinkokunta.fi</h1>
      <h2>Aurinkokunta cooperative, Helsinki Finland</h2>
    </header>

    {{ content }}

    <footer>
      Aurinkokunta.fi, founded in 2013
    </footer>
  </body>
</html>